<h2><%= @house.title %> </h2>
<h3><strong>By:</strong> <%= current_user.name %></h3>

<p><%= @house.content %></p>

	

<!-- <%#= image_tag @house.image.url %> -->
<li><a href="<%= new_project_path %>">New Project!</a></li>