  <%= stylesheet_link_tag    "splash", media: "all", "data-turbolinks-track" => true %>
<div class="container">

	<div class="background-wrapper">	
		<div class="background">

			<div class="desktop-logo">
				<h1>Swatch</h1>
					<p>Record your projects, share your progress.</p>
			</div>

			<div class="mobile-logo">
				<h1>S</h1>
			</div>
			
		</div>
	
	</div>

	<p class="mobile-mission">
		Record your projects,
		share your progress.
	</p>

	<p class="desktop-mission">
		Record the momentous milestones in turning your house into a home. Share your victories (and defeats) with your friends, family, and the world.
	</p>

	
	<div class="buttons pure-g">
		<div class="login pure-u-1-2">
			<%= link_to "Facebook Login", "/auth/facebook", id: "sign_in" %>
		</div>
		<br>
		
		<div class="explore pure-u-1-2">
			<a href="/projects">Explore</a>
		</div>
	</div>
		
</div>