  <%= stylesheet_link_tag    "splash", media: "all", "data-turbolinks-track" => true %>

<div class="background-wrapper">	
	<div class="container">
		<div class="background">
			<div class="desktop-logo">
				<h1>Swatch</h1>
					<p>Record your projects, share your progress.</p>
			</div>

			<div class="mobile-logo valign-wrapper">
				<h1 class="valign">S</h1>
			</div>
		</div>
	</div>
	
</div>

	<p class="mobile-mission">
		Record your projects,
		share your progress.
	</p>

	<p class="desktop-mission">
		Record the momentous milestones in turning your house into a home. Share your victories (and defeats) with your friends, family, and the world.
	</p>

<div class="container">
	<div class="row">
		<div class="col s12 m6 button-wrapper">
			<%= link_to 'Explore', projects_path, class: "btn-large" %>
		</div>
		<div class="col s12 m6 button-wrapper">
			<div class="big-red-btn">
				<%= link_to "Facebook Login", "/auth/facebook", class: "btn-large" %>
			</div>
		</div>
	</div>
</div>