<div class="login">
		
	<% if current_user %>
		Signed in as <strong><%= current_user.name %></strong>!
		<%= link_to "Sign out", signout_path, id: "sign_out" %>
	<% else %>
		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	<% end %>
</div>

<h1>Swatch!</h1>
<p>Record the milestones in turning your house into a home! Record a new project, find inspiration, and share with your friends.</p>
<a href="<%= projects_path %>">Explore!</a>