<div class="comments">
	<% @project.comments.each do |comment| %>
		<div class="comment">
			<% if comment.body %>
				<p><%= comment.author_name %>
				<p><%= comment.body %></p>
				<i><%= comment.created_at %></i>
			<% end %>
		</div>
	<% end %>
</div>