<nav class="navbar">
	<ul>
		<li><a href="#">Sign Out</a></li>
		<li><a href="<%= new_project_path %>">New Project!</a></li>
	</ul>
</nav>
<div id="show">
	<ul>
		<% @project.each do |project| %>
		<li>
			<a href="/projects/<%=project.id%>"><%= project.title %></a>
			
		</li>
		<% end %>
	</ul>
	