<h1>NEW PROJECT FORM</h1>
<div class="new-post">

	<form action="/projects" method="post">
		<input type="text" name="project[title]" placeholder="Project Name">
		<textarea name="project[content]" placeholder="Details"></textarea>
		<div class="file-field">
      		<input class="file-path" type="text" placeholder="Add image" class="image-hover"/>
      		<input type="file" name="project[image1]"/>
      	</div>
		<textarea name="project[notes]" placeholder="Notes"></textarea>
		<div class="file-field">
      		<input class="file-path" type="text" placeholder="Add image" class="image-hover"/>
      		<input type="file" name="project[image2]"/>
      	</div>
		<textarea name="project[notes]" placeholder="Notes"></textarea>
		<div class="file-field">
      		<input class="file-path" type="text" placeholder="Add image" class="image-hover"/>
      		<input type="file" name="project[image3]"/>
      	</div>
		<textarea name="project[notes]" placeholder="Notes"></textarea>
		<div class="file-field">
      		<input class="file-path" type="text" placeholder="Add image" class="image-hover"/>
      		<input type="file" name="project[image4]"/>
      </div>
		<textarea name="project[notes]" placeholder="Notes"></textarea>
		<div class="file-field">
      		<input class="file-path" type="text" placeholder="Add image" class="image-hover"/>
      		<input type="file" name="project[image5]"/>
      </div>
		<textarea name="project[notes]" placeholder="Notes"></textarea>
		<input type="submit" placeholder="Submit!">
	</form>
</div>
