<h1>Create a New Project</h1>
<p>Detail your designs, record the details, and upload the photos. Be as descriptive, as vague, or as thorough as you feel like being! It's YOUR home, afterall.</p>
<%= render partial: 'form' %>


