body {
    background-color: rgb(28, 29, 38);
}

.background-wrapper {
    background-image: url('http://i.imgur.com/4M5YQQA.jpg');
    opacity: .8;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* MOBILE STYLING */

.desktop-logo,
.desktop-mission {
    display: none;
}

.nav-wrapper {
    background-color: white;
    a {
        color: black;
    }
}


.mobile-logo {
    width: 250px;
    height: 250px;
    background-color: rgba(226, 226, 226, .8);
    margin: auto;
    top: 75px;
    position: relative;
    h1 {
        font-size: 200px;
        margin: auto;
        opacity: 1;
    }
}

.mobile-mission {
    font-size: 20px;
    text-align: center;
    margin: 25px 0 25px 0px;
    color: rgb(226, 226, 226);
}

.button-wrapper {
    text-align: center;
}

.btn-large {
    font-size: .85em;
    background-color: rgb(214, 34, 70);
    padding: 0 1rem;

    &:hover {
        background-color: #941831;
    }
}

/* DESKTOP STYLING */

@media (min-width: 600px) {
  .mobile-logo {
    display: none;
  }

  .mobile-mission {
    display: none;
  }
  .desktop-logo {
    display: block;
    width: 500px;
    height: 200px;
    background-color: rgba(226, 226, 226, .8);
    margin: auto;
    top: 95px;
    position: relative;
    text-align: center;
    line-height: 1.5;

    h1 {
        font-size: 100px;
        margin: auto;
        opacity: 1;
    }

    p {
        font-size: 20px;
    }

  }

  .desktop-mission {
    display: block;
    color: rgb(226, 226, 226);
    text-align: center;
    font-size: 24px;
    margin: 15px 20px 20px;
  }

  
}

